<%- include("partials/header") -%>
  <form action="url" method="post">
    <label for="longUrl">Url</label>
    <input type="url" name="longUrl" id="longUrl" placeholder="Http(s)://">
    <button type="submit">Générer</button>
  </form>
<%- include("partials/footer") -%>